.container{
  min-height: 400px;
  font-size: 20px;
  border: 1px solid rgb(119, 27, 222);
  box-shadow: 0px 0px 12px rgb(75, 75, 75);
  border-radius: 6px;
  width: 600px;
  margin-left: 400px;
  box-sizing: border-box;
  padding-top: 40px;
}
.moneyBook{
  margin: 0px 20px 0;
}
.remuve {
  outline: none;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
    border-radius: 60px;
    box-shadow: 3px 3px 6px #666666;
    font-family: Arial;
    color: #e83790;
    font-size: 20px;
    background: #ffffff;
    padding: 0px 10px 0px 10px;
    border: solid #e83790 3px;
    text-decoration: none;
    float: right;
    margin: 15px 55px 0 0;
  }

  .remuve:active {
    box-shadow: 1px 1px 6px #666666;
  }

.Entertaiment::after{
  float: left;
  content: '';
  width: 32px;
  height: 32px;
  background-image: url(https://image.flaticon.com/icons/png/32/141/141074.png);
}
.Food::after{
  float: left;
  content: '';
  width: 32px;
  height: 32px;
  background-image: url(https://image.flaticon.com/icons/png/32/135/135637.png);
}
.Car::after{
  float: left;
  content: '';
  width: 32px;
  height: 32px;
  background-image: url(https://image.flaticon.com/icons/png/32/708/708980.png);
}

.total{
  color: rgb(214, 98, 65);
}
